<%+ extend('layout/layout')%>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/bundles/summernote/summernote-bs4.css">
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<%+ endSection%>
<%+ section('content')%>
<%if(error == 1){%>
    <script> iziToast.success({
            title: 'Success!',
            message: 'Berhasil Mengedit Data',
            position: 'topRight'
        });</script>
<%}else if(error == 2){%>

    <script>  iziToast.error({
            title: 'Error!',
            message: 'Ada Kesalahan Saat Mengedit Data',
            position: 'topRight'
        });</script>
<%}%>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Form Visi - Misi - Tujuan</h4>
            </div>
            <form action="" method="post">
            <div class="card-body">

                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Visi</label>
                    <div class="col-sm-12 col-md-7">
                        <textarea name="visi" class="summernote-simple"> <%= data.visi%> </textarea>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Misi</label>
                    <div class="col-sm-12 col-md-7">
                        <textarea name="misi" class="summernote-simple"><%= data.misi%></textarea>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tujuan</label>
                    <div class="col-sm-12 col-md-7">
                        <textarea name="tujuan" class="summernote-simple"><%= data.tujuan%></textarea>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                    <div class="col-sm-12 col-md-7">
                        <button type="submit" class="btn btn-primary">Publish</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('js')%>
<script src="/admin/assets/bundles/summernote/summernote-bs4.js"></script>

<%+ endSection%>