<%+ extend('layout/layout')%>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/bundles/summernote/summernote-bs4.css">
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/admin/assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<%+ endSection%>
<%+ section('content')%>
<%if(error == 1){%>
    <script> iziToast.success({
            title: 'Success!',
            message: 'Berhasil Menginput Data',
            position: 'topRight'
        });</script>
<%}else if(error == 2){%>

    <script>  iziToast.error({
            title: 'Error!',
            message: 'Ada Kesalahan Saat Menginput Data',
            position: 'topRight'
        });</script>
<%}%>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Form Blog</h4>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Title</label>
                        <div class="col-sm-12 col-md-7">
                            <input name="judul" value="<%= data.judul%>" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
                        <div class="col-sm-12 col-md-7">
                            <textarea name="desc_blog" class="summernote-simple"><%- data.desc_blog%></textarea>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Foto</label>
                        <div class="col-sm-12 col-md-7">
                            <input type="file" name="foto-blog" id="">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tanggal</label>
                        <div class="col-sm-12 col-md-7">
                            <input type="text" name="tgl" value="<%= data.tanggal%>" class="form-control datepicker">
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <button type="submit" class="btn btn-primary">Publish</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('js')%>
<script src="/admin/assets/bundles/summernote/summernote-bs4.js"></script>
<script src="/admin/assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/admin/assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="/admin/assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<%+ endSection%>