<%+ extend('layout/layout')%>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
<%+ endSection%>
<%+ section('content')%>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
            <div class="card-icon l-bg-green">
                <i class="fas fa-user-tie"></i>
            </div>
            <div class="card-wrap">
                <div class="padding-20">
                    <div class="text-right">
                        <h3 class="font-light mb-0">
                            <i class="ti-arrow-up text-success"></i> <%= dataTotalAdmin%>
                        </h3>
                        <span class="text-muted">Total Admin</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
            <div class="card-icon l-bg-purple">
                <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="card-wrap">
                <div class="padding-20">
                    <div class="text-right">
                        <h3 class="font-light mb-0">
                            <i class="ti-arrow-up text-success"></i> <%= dataTotalPeriode%>
                        </h3>
                        <span class="text-muted">Total Periode Pengurus</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card card-statistic-1">
            <div class="card-icon l-bg-yellow">
                <i class="fas fa-users"></i>
            </div>
            <div class="card-wrap">
                <div class="padding-20">
                    <div class="text-right">
                        <h3 class="font-light mb-0">
                            <i class="ti-arrow-up text-success"></i> <%= dataTotalPengurus%>
                        </h3>
                        <span class="text-muted">Total Pengurus</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class=" col-6">
                    <h4>Table Periode Pengurus</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>
                            <th>Nama Jabatan</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script>
    $(function(){
        $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.periode",
                "type" : "GET"
            },
            columns : [
                {
                    Data : "periode",
                    Title : "Periode"
                },
                {
                    Data : "id",
                    mRender: function(data){
                        return `
                            <a href="/users/table-pengurus/${data}" class="btn btn-action bg-purple mr-1" ><i class="fas fa-eye"></i></a>
                          `
                    }
                }]
        })
    })
</script>
<%+ endSection%>