<%+ extend('layout/layout')%>
<%+ section('css')%>
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<%+ endSection%>
<%+ section('content')%>
<input type="hidden" name="" id="id_periode" value="<%= id%>">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class=" col-6">
                    <h4>Table Jabatan Pengurus</h4>
                </div>



            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>

                            <th>Nama Jabatan</th>

                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('modal')%>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Jabatan Pengurus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label>Nama Jabatan</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_jabatan" type="text" class="form-control" placeholder="Nama Jabatan">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="id_kat" type="hidden" class="form-control" placeholder="Nama Kategori">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_kategori1" type="text" class="form-control" placeholder="Nama Kategori">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script src="/admin/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){
    var id_periode = $("#id_periode").val()
     $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.jabatan",
                "type" : "GET"
            },
            columns : [
                {
                    Data : "nama_jabatan",
                    Title : "Nama Jabatan"
                },
                {
                    Data : "id",
                    mRender: function(data){
                        return `
                            <a href='/users/table-pengurus/${id_periode}/${data}' class="btn btn-action bg-purple mr-1" ><i class="fas fa-eye"></i></a>

                          `
                    }
                }]
        })
    })
</script>

<%+ endSection%>