<%+ extend('layout/layout')%>
<%+ section('css')%>
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<%+ endSection%>
<%+ section('content')%>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class=" col-6">
                    <h4>Table Blog</h4>
                </div>
                <div class="d-flex justify-content-end col-6">
                    <a href="/users/form-blog" class="btn btn-lg btn-icon icon-left btn-primary">
                        <i class="far fa-edit"></i> Tambah</a>
                </div>



            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Judul</th>
                            <th>Tanggal</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script src="/admin/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){
        $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.blog",
                "type" : "GET"
            },
            columns : [
                {
                    Data: "foto",
                    mRender: function (data) {
                        return `
                            <img src="${data}" width="100">
                          `
                    }
                },
                {
                    Data : "judul",
                    Title : "Judul"
                },
                {
                    Data : "tgl",
                    Title: "Tanggal"
                },

                {
                    Data : "id",
                    mRender: function(data){
                        return `
                            <a href='/users/edit-blog/${data}' class="btn btn-action bg-purple mr-1" ><i class="fas fa-pencil-alt"></i></a>
                            <button onclick="deleted(${data})" class="btn btn-action bg-danger mr-1" ><i class="fas fa-trash-alt"></i></button>
                          `
                    }
                }]
        })
    })
</script>
<script>
    function deleted(id) {
        $(function(){
            var table = $(".table-pengeluaran").DataTable()
            swal({
                title: 'Are you sure?',
                text: 'Hapus Blog?',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: `/users/del.blog`,
                            contentType: "application/x-www-form-urlencoded",
                            data: {
                                id : id
                            },
                            success: function (result) {
                                if (result) {

                                    iziToast.success({
                                        title: 'Success!',
                                        message: 'Berhasil Menghapus Data',
                                        position: 'topRight'
                                    })
                                    table.ajax.reload()
                                } else {
                                    iziToast.error({
                                        title: 'Error!',
                                        message: 'Ada Kesalahan Saat Menghapus Data',
                                        position: 'topRight'
                                    })

                                }
                            }
                        })

                    } else {
                        swal('Your imaginary file is safe!');
                    }
                });
        })
    }

</script>
<%+ endSection%>