<%+ extend('layout/layout')%>
<%+ section('css')%>
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<%+ endSection%>
<%+ section('content')%>
<input type="hidden" name="" id="id_periode" value="<%= id_periode%>">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class=" col-6">
                    <h4>Table Pengurus</h4>
                </div>
                <div class="d-flex justify-content-end col-6">
                    <button href="#"  data-toggle="modal"
                            data-target="#exampleModal" class="btn btn-lg btn-icon icon-left btn-primary">
                        <i class="far fa-edit"></i> Tambah</button>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>
                            <th>Nama Lengkap</th>
                            <th>Nama Jabatan</th>

                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('modal')%>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Pengurus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Nama Lengkap</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="nama" type="text" class="form-control" placeholder="Nama Lengkap">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nama Jabatan</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="nama_jabatan" type="text" class="form-control" placeholder="Nama Jabatan">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Kutipan</label>
                        <div class="input-group">

                            <textarea name="kutipan"cols="30" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Twitter</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="twitter" type="text" class="form-control" placeholder="Twitter">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Google Plus</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="google_plus" type="text" class="form-control" placeholder="Google Plus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Instagram</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="instagram" type="text" class="form-control" placeholder="Instagram">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Facebook</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="facebook" type="text" class="form-control" placeholder="facebook">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <div class="input-group">

                            <input name="foto-pengurus" type="file">
                        </div>
                    </div>

                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="id_kat" type="hidden" class="form-control" placeholder="Nama Kategori">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_kategori1" type="text" class="form-control" placeholder="Nama Kategori">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script src="/admin/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){
        var id_periode = $("#id_periode").val()
        $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.pengurus",
                "type" : "GET",
                "data" : function (e) {
                    e.id_periode = $("#id_periode").val()

                }
            },
            columns : [
                {
                    Data : "nama",
                    Title : "Nama Lengkap"
                },
                {
                    Data : "nama_jabatan",
                    Title : "Nama Jabatan"
                },
                {
                    Data : "id",
                    mRender: function(data){
                        return `
                           -

                          `
                    }
                }]
        })
    })
</script>

<%+ endSection%>