<%+ extend('layout/layout')%>
<%+ section('css')%>
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<%+ endSection%>
<%+ section('content')%>
<input type="hidden" name="" id="id" value="<%=id%>">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class=" col-6">
                    <h4>Table Detail Dokumentasi</h4>
                </div>
                <div class="d-flex justify-content-end col-6">
                    <button href="#"  data-toggle="modal"
                            data-target="#exampleModal" class="btn btn-lg btn-icon icon-left btn-primary">
                        <i class="far fa-edit"></i> Tambah</button>
                </div>



            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>

                            <th>Foto</th>
                            <th>Judul</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('modal')%>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label>Nama Dokumentasi</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input name="judul" type="text" class="form-control" placeholder="Nama Dokumentasi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Foto</label>
                        <div class="input-group">

                            <input name="foto-dokumentasi" type="file"  >
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="id_kat" type="hidden" class="form-control" placeholder="Nama Kategori">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_kategori1" type="text" class="form-control" placeholder="Nama Kategori">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script src="/admin/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){
        // $("#form").submit(function(event){
        //     var data = new FormData($("#foto"));
        //     $.ajax({
        //         type: "POST",
        //         url: `/users/insert.dokumentasi`,
        //         processData: false,
        //         contentType: false,
        //         data: {
        //             judul : $("#nama_dokumentasi").val(),
        //             foto_dokumentasi : data
        //         },
        //         success: function (result) {
        //             if (result) {
        //                 iziToast.success({
        //                     title: 'Success!',
        //                     message: 'Berhasil Menginput Data',
        //                     position: 'topRight'
        //                 })
        //                 $('#exampleModal').removeClass("show")
        //                 table.ajax.reload()
        //             } else {
        //                 $('#exampleModal').removeClass("show")
        //                 iziToast.error({
        //                     title: 'Error!',
        //                     message: 'Ada Kesalahan Saat Menginput Data',
        //                     position: 'topRight'
        //                 })
        //             }
        //         }
        //     })
        //
        //
        //     event.preventDefault()
        // });
        var table = $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.detail-dokumentasi",
                "type" : "GET",
                "data" : function (e) {
                    e.id_kat = $("#id").val()
                }
            },
            columns : [
                {
                    Data : "foto",
                    mRender : function (data) {
                        return `<img src="${data}" width="20%" />`

                    }
                },
                {
                    Data : "judul",
                    Title : "Judul"
                },
                {
                    Data : "id",
                    mRender: function(data){
                        return `
                            <a  class="btn btn-danger btn-action"><i class="fas fa-eye"></i></a>
                          `
                    }
                }]
        })
    })
</script>


<%+ endSection%>