<%+ extend('layout/layout')%>
<%+ section('css')%>
<script src="/admin/assets/bundles/izitoast/js/iziToast.min.js"></script>
<link rel="stylesheet" href="/admin/assets/bundles/izitoast/css/iziToast.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/datatables.min.css">
<link rel="stylesheet" href="/admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

<!-- Template CSS -->
<%+ endSection%>
<%+ section('content')%>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <div class=" col-6">
                    <h4>Table Kategori Dokumentasi</h4>
                </div>
                <div class="d-flex justify-content-end col-6">
                    <button  data-toggle="modal"
                            data-target="#exampleModal" class="btn btn-lg btn-icon icon-left btn-primary">
                        <i class="far fa-edit"></i> Tambah</button>
                </div>



            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-pengeluaran table-striped" >
                        <thead>
                        <tr>

                            <th>Nama Kategori Dokumentasi</th>

                            <th>Action</th>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+ section('modal')%>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label>Nama Dokumentasi</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_kategori" type="text" class="form-control" placeholder="Nama Costumer">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Form Kategori Dokumentasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form1">
                    <div class="form-group">
                        <label>Nama Kategori</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="id_kat" type="hidden" class="form-control" placeholder="Nama Kategori">
                                    <i class="fas fa-address-card"></i>
                                </div>
                            </div>
                            <input id="nama_kategori1" type="text" class="form-control" placeholder="Nama Kategori">
                        </div>
                    </div>



                    <button id="submit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
<%+section('js')%>
<script src="/admin/assets/bundles/datatables/datatables.min.js"></script>
<script src="/admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/assets/js/page/datatables.js"></script>
<script src="/admin/assets/bundles/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){

        $("#form1").submit(function(event){
            $.ajax({
                type: "POST",
                url: `/users/edit.kat-dokumentasi`,
                contentType: "application/x-www-form-urlencoded",
                data: {
                    kategori : $("#nama_kategori1").val(),
                    id : $("#id_kat").val()
                },
                success: function (result) {
                    if (result) {
                        iziToast.success({
                            title: 'Success!',
                            message: 'Berhasil Mengedit Data',
                            position: 'topRight'
                        })
                        $('#exampleModal1').removeClass("show")
                        table.ajax.reload()
                    } else {
                        $('#exampleModal1').removeClass("show")
                        iziToast.error({
                            title: 'Error!',
                            message: 'Ada Kesalahan Saat Mengedit Data',
                            position: 'topRight'
                        })
                    }
                }
            })


            event.preventDefault()
        });
        $("#form").submit(function(event){
            $.ajax({
                type: "POST",
                url: `/users/insert.kat-dokumentasi`,
                contentType: "application/x-www-form-urlencoded",
                data: {
                    kategori : $("#nama_kategori").val(),
                    id : $("#id_kat").val()
                },
                success: function (result) {
                    if (result) {
                        iziToast.success({
                            title: 'Success!',
                            message: 'Berhasil Menginput Data',
                            position: 'topRight'
                        })
                        $('#exampleModal').removeClass("show")
                        table.ajax.reload()
                    } else {
                        $('#exampleModal').removeClass("show")
                        iziToast.error({
                            title: 'Error!',
                            message: 'Ada Kesalahan Saat Menginput Data',
                            position: 'topRight'
                        })
                    }
                }
            })


            event.preventDefault()
        });
       var table = $(".table-pengeluaran").DataTable({
            processing : true,
            serverSide : true,
            ajax : {
                "url" : "/users/data.kat-dokumentasi",
                "type" : "GET"
            },
            columns : [
                {
                    Data : "kategori",
                    Title : "Nama Kategori Dokumentasi"
                },
                {
                    Data : "id",
                    mRender: function(data){
                        return `
                            <button onclick="edit(${data})"data-toggle="modal"
                            data-target="#exampleModal1" class="btn btn-action bg-purple mr-1" ><i class="fas fa-pencil-alt"></i></button>
                            <button onclick="deleted(${data})" class="btn btn-danger btn-action"><i class="fas fa-trash"></i></button>
                          `
                    }
                }]
        })
    })
</script>
<script>
    function deleted(id) {
        $(function(){
            var table = $(".table-pengeluaran").DataTable()
            swal({
                title: 'Are you sure?',
                text: 'Hapus Kategori Dokumentasi!',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: `/users/del.kat-dokumentasi`,
                            contentType: "application/x-www-form-urlencoded",
                            data: {
                                id : id
                            },
                            success: function (result) {
                                if (result) {

                                    iziToast.success({
                                        title: 'Success!',
                                        message: 'Berhasil Menghapus Data',
                                        position: 'topRight'
                                    })
                                    table.ajax.reload()
                                } else {
                                    iziToast.error({
                                        title: 'Error!',
                                        message: 'Ada Kesalahan Saat Menghapus Data',
                                        position: 'topRight'
                                    })

                                }
                            }
                        })

                    } else {
                        swal('Your imaginary file is safe!');
                    }
                });
        })
    }

</script>
<script>
    function edit(id) {
        $(function(){
           $.ajax({
                type: "POST",
                url: `/users/kat-dokumentasi`,
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : id
                },
               success : function (data) {
                    if (data.length != 0){
                        $("#nama_kategori1").val(data[0].kategori)
                        $("#id_kat").val(data[0].id)
                    }else{
                        return false
                    }
               }
            })

        })
    }

</script>
<%+ endSection%>