<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin - Komfikom</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">
    <link rel="stylesheet" href="/admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/admin/assets/css/custom.css">
    <%+ yield('css') %>
    <link rel='shortcut icon' type='image/x-icon' href='/admin/assets/img/favicon.ico'/>
</head>

<body class="dark dark-sidebar theme-black">
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
                    <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i data-feather="maximize"></i>
                        </a></li>
                    <li>
                        <form class="form-inline mr-auto">
                            <div class="search-element">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                       data-width="200">
                                <button class="btn" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>


        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <img width="80%" src="/admin/assets/img/logo/logo.png" alt="Home"/>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" src="/admin/assets/img/user.png">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">Rian</div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Main</li>
                    <li class="active"><a class="nav-link" href="/users"><i data-feather="monitor"></i><span>Dashboard</span></a>
                    </li>
                    <li><a class="nav-link" href="/users/edit.password"><i data-feather="edit-2"></i><span>Edit Password</span></a>
                    </li>
                    <li class="menu-header">Admin</li>
                    <li><a class="nav-link" href="/users/table-admin"><i data-feather="user"></i><span>Database Admin</span></a>
                    </li>
                    <li><a class="nav-link" href="/users/form-sejarah"><i data-feather="edit"></i><span>Form Sejarah</span></a>
                    </li>
                    <li><a class="nav-link" href="/users/form-visi"><i data-feather="edit"></i><span>Form Visi-Misi</span></a>
                    </li>
                    <li><a class="nav-link" href="/users/table-periode"><i data-feather="users"></i><span>Database Pengurus</span></a>
                    </li>
                    <li><a class="nav-link" href="/users/table-blog"><i data-feather="database"></i><span>Database Blog</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i data-feather="image"></i><span>Dokumentasi</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/users/table-kat-dokumentasi">Database Kategori</a></li>
                            <li><a href="/users/table-dokumentasi">Database Dokumentasi</a></li>
                        </ul>
                    </li><li><a class="nav-link" href="/users/logout.acounting"><i data-feather="log-out"></i><span>Logout</span></a>
                    </li>


                </ul>
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <!-- add content here -->

                    <%+ yield('content') %>
                </div>
            </section>

            <%+ yield('modal') %>

        </div>
        <footer class="main-footer">
            <div class="footer-left">
                Copyright &copy; 2019
                <div class="bullet"></div>
                DOUBLEHELIX
            </div>
            <div class="footer-right">
            </div>
        </footer>
    </div>
</div>
<!-- General JS Scripts -->
<script src="/admin/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script src="/admin/assets/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="/admin/assets/js/custom.js"></script>
<%+ yield('js') %>

</body>


</html>